---
layout: default
---


<h2>
  Schedule
  <!-- add a query param on ics link to bypass cache for testing (e.g. ?foo) -->
  <a target="_blank"
     href="http://www.google.com/calendar/render?cid=http://raceconditionrunning.com/rcc.ics">
    <img src='img/cal-icon.png' height='25px'>
  </a>
</h2>


<p>
  If you are having trouble accessing the calendar, try manually by adding
  the following url to your calendar application:
  <a href = "http://raceconditionrunning.com/rcc.ics"> http://raceconditionrunning.com/rcc.ics </a>
</p>
<p>
  Please let us know on the UW CSE Slack or RCR Facebook page
  if you're joining and arrive 10 minutes before run!
</p>

<h3>Weekend (usually Saturday)</h3>

<div id='schedule'><table id='runs'>
  {% for run in site.data.schedule %}
  <tbody class="run" data-date="{{ run.date }}">
    {% for plan in run.plan %}
    <tr>
      {% if forloop.first %}
        <td class="date">{{ run.date | date: "%b %e" }}</td>
      {% else %}
        <td class="date"></td>
      {% endif %}
      <td class="time">{{ plan.time }}</td>
      {% assign route = site.data.routes | where: 'id', plan.route | first %}
      {% if route %}{% else %}
        {% assign route = plan.route %}
      {% endif %}
      <td nowrap>
        {% if route.map %}
          <a target="_blank" href="{{ route.map }}">
        {% endif %}
        {{ route.name }}
        {% if route.map %}</a>{% endif %}
        {% if route.dist %}&nbsp; ({{ route.dist }}){% endif %}
      </td>
      {% if plan.notes %}
        <tr>
          <td></td><td></td>
          <td>{{ plan.notes }}</td>
        </tr>
      {% endif %}
    </tr>
    {% endfor %}
    <tr class="spacer"></tr>
  </tbody>
  {% endfor %}
</table></div>

<h3>Tuesday</h3>

<p style='margin-left: 25px;'>
  Meet in CSE atrium at 4:40 pm and do 3-4 miles. Run starts at 4:45 pm sharp!
</p>

<h3>Thursday</h3>

<p style='margin-left: 25px;'>
  Meet in CSE atrium at 4:40 pm and do 6-8 miles. Run starts at 4:45 pm sharp!
</p>

<h2 style='padding-top: 20px;'>
  Strava
  <a target="_blank"
     href="https://www.strava.com/clubs/raceconditionrunning">
    <img src='img/strava-logo.png' height='25px'>
  </a>
</h2>
<p>
  We have a <a href="https://www.strava.com/clubs/raceconditionrunning">Strava
  club</a>! Join and help us increase our weekly club miles!
</p>
<div style='text-align: center;'>
  <iframe allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/451449/latest-rides/9992908d136b0e840a8537bb0b56b823a1d2f83c?show_rides=false' width='300'></iframe>
</div>

<h2>Weekend Haiku</h2>

<p style='font-style: italic; line-height: 25px; margin-left: 20px;'>
  meet at run start point<br>
  chit chat conversation pace<br>
  brunch nearby after
</p>


<h2>Photo Album</h2>
<p>Check out our photos <a href = "https://photos.app.goo.gl/DW9MRhNTi2vLwYor1">here</a>!</p>

<!--
<p style='padding-top: 20px;'>
<div class="row">
  <div class="column">
    <img src='img/race-condition-running2.jpg' style="width:100%">
  </div>
  <div class="column">
    <img src='img/race-condition-running1.jpg' style="width:100%">
  </div>
</div>
</p>
-->

{% include photo_carousel.html %}

<script>
function highlightDates() {
  var today = new Date();
  var afterNext = false;

  $("tbody.run").each(function() {
    var date = new Date($(this).data("date"));
    date.setDate(date.getDate() + 1);

    var age = "past";
    if(today < date) {
      if(!afterNext) {
        age = "next";
        afterNext = true;
      } else {
        age = "future";
      }
    }

    $(this).addClass(age);
  });
}

$(function() {
  highlightDates();
});
</script>
