body {
  max-width: 600px;
  margin: 30px auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#route-list {
  width: 300px;
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
}
#route-list li {
  padding-bottom: 25px;
}
#route-list a {
  color: #18860F;
}
#route-list a:visited {
  color: #5CAF55;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
