body {
  max-width: 650px;
  margin: 30px auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#route-list {
  width: 300px;
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
}
#route-list li {
  padding-bottom: 25px;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
#runs {
  margin-left: 20px;
}
.date {
  width: 60px;
}
.time {
  text-align: right;
  padding-right: 10px;
}
.spacer {
  height: 15px;
}
.past, .past a, .past a:visited {
  color: #ccc;
}
.next, .next a, .next a:visited {
  font-weight: bold;
}
