<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js" integrity="sha256-O2NSUQPlwXGZdxFbM6btTnSdHsw8BcCcpJJWq6pwrsU=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/css/splide.min.css" integrity="sha256-vnIcA0IxxVO/dQ6l9ZAl6i8HhSMouOB9zG0R+HsQaA4=" crossorigin="anonymous">

<div id="image-slider" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
    {% for photo_url in site.data.photo-urls %}
    <li class="splide__slide">
      <img data-splide-lazy="{{ photo_url }}" />
    </li>
    {% endfor %}
    </ul>
</div>

<script>
  let numPhotos = {{ site.data.photo-urls | size }}
  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  new Splide( '#image-slider', {'type': 'fade', 'autoplay': true, 'lazyLoad': 'nearby', 'pagination': false, 'start': getRandomInt(0, numPhotos)} ).mount();
</script>
