<div class="table-responsive">
<table class='schedule-table table'>
    {% if include.show_header %}
    <thead>
    <tr>
        <th>Date</th>
        <th class="text-end">Time</th>
        <th>Route (miles)</th>
    </tr>
    </thead>
    {% endif %}
    {% for run in include.schedule %}
    {% if run.cancelled %}
    {% assign cancelled-class = "cancelled" %}
    {% else %}
    {% assign cancelled-class = "" %}
    {% endif %}
    <tbody class="run" data-date="{{ run.date }}">
    {% for plan in run.plan %}
    {% if plan.cancelled %}
    {% assign part-cancelled-class = "cancelled" %}
    {% else %}
    {% assign part-cancelled-class = "" %}
    {% endif %}
    <tr class="{{ cancelled-class }}">
        {% if forloop.first %}
        {% assign day_of_week = run.date | date: '%A' %}
        <td class="date"><time datetime="{{ run.date }}" title="{{ day_of_week }}" id="{{run.date | slugify}}">{{ run.date | date: "%b %e" }}<a href="#{{run.date | slugify}}" class="anchor-link" aria-label="Link to this date. {{run.date | slugify}}"></a>{% if day_of_week != "Saturday" %}<br/><span class="text-secondary">{{ day_of_week }}</span>{% endif%}</time></td>
        {% else %}
        <td class="date"></td>
        {% endif %}
        <td class="time {{part-cancelled-class}} text-end">{{ plan.time }}</td>
        {% if plan.route.name %}
        {% assign route = plan.route %}
        {% elsif plan.route_id %}
        {% assign route = site.data.routes | where: 'id', plan.route_id | first %}
        {% if route == nil and plan.route == nil %}
        <td>TBD</td>
        {% continue %}
        {% endif %}
        {% unless route %}
        <td>ERROR: No route for id '{{plan.route_id}}'</td>
        {% continue %}
        {% endunless %}
        {% endif %}
        <td class="{{part-cancelled-class}}">
            {% if plan.route_id %}
            <a href="{{site.baseurl}}/routes/{{ plan.route_id }}" title="{{ plan.route_id }}">{{route.name}}</a>
            {% elsif route.map %}
            <a target="_blank" href="{{ route.map }}">{{route.name}}</a>
            {% else %}
            {{route.name}}
            {% endif %}
            {% if route.distance_mi %}&nbsp; (<span title="{{ route.distance_mi | times: 1.609 | round: 1}}km">{{ route.distance_mi | round: 1}})</span>{% endif %}
            {% if route.gpx %}
                &nbsp; <a href="{{ route.gpx }}" class="gpx-link" title="Download GPX">&#8986;</a>
            {% endif %}
        </td>
    </tr>
    {% if plan.notes %}
    <tr>
        <td></td><td></td>
        <td>{{ plan.notes }}</td>
    </tr>
    {% endif %}
    {% if plan.cancelled %}
    <tr class="cancellation-note">
        <td></td>
        <td></td>
        <td>{{ plan.cancelled }}</td>
    </tr>
    {% endif %}

    {% if plan.highlight-image %}
    <tr class="schedule-highlight-row">
        <td></td>
        <td></td>
        <td>
            <a href="{{ route.map }}">
        <img src="{{ plan.highlight-image | relative_url }}" />
            </a>
        </td>
    </tr>
    {% endif %}

    {% endfor %}
    {% if run.cancelled %}
    <tr class="cancellation-note">
        <td></td>
        <td></td>
        <td>{{ run.cancelled }}</td>
    </tr>
    {% endif %}
    </tbody>
    {% endfor %}
    <tfoot id="schedule-finished" style="display: none"><tr><td colspan="3">A new schedule is coming! <a href="https://github.com/raceconditionrunning/raceconditionrunning.github.io">Contribute on GitHub</a></td></tr></tfoot>
</table>
</div>