---
title: Routes
description: Every place worth running around our corner of Seattle
permalink: routes/
layout: base
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@6.3.0/dist/css/tabulator.min.css" integrity="sha256-pG2AUZRMdFyuinl2tPudk9iU0gh2pFIcxPbwNc/vUuo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tabulator-tables@6.3.0/dist/css/tabulator_bootstrap5.min.css" integrity="sha256-H1gQqBIR3L9enXuoNfFASj+QdGSEQIAloT7c4FXjNzc=" crossorigin="anonymous">
<style>
    /* Tabulator Bootstrap styles don't support the dark theme yet
        https://github.com/olifolkerd/tabulator/pull/4548
     */
    .tabulator,
    .tabulator .tabulator-header .tabulator-col,
    .tabulator .tabulator-header,
    .tabulator .tabulator-tableholder .tabulator-table,
    .tabulator .tabulator-footer,
    .tabulator .tabulator-footer .tabulator-calcs-holder,
    .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row,
    .tabulator .tabulator-tableholder .tabulator-table .tabulator-row,
    .tabulator.table{
        background-color: transparent;
        color: inherit;
    }
    .tabulator.table .tabulator-tableholder,
    .tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
        color: var(--bs-body-color);
    }

    .tabulator-row,
    .tabulator .tabulator-header {
        border: none;
    }
    .tabulator-row.deprecated {
        opacity: .35 !important;
    }
    .tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
        background-color: var(--bs-table-bg);
    }
    .tabulator.table .tabulator-row:hover .tabulator-cell,
    .tabulator-row.tabulator-selectable:hover,
    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover{
        background-color: var(--bs-table-hover-bg);
    }
</style>

<div id="routes">
  <div class="container">
    <div id="filter-controls" class="row align-items-center mb-2 justify-content-center justify-content-sm-between d-none">

      <div class="col-12 col-sm mb-1">
        <div class="input-group">
          <span class="input-group-text">Search</span>
          <input class="form-control" id="filter-search" type="search">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check form-check-inline">
          <input class="form-check-input deprecated" type="checkbox" id="filter-deprecated">
          <label class="form-check-label" for="filter-deprecated">Deprecated</label>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex">
    {% comment %} This static table is for the benefit of non-JS clients {% endcomment %}
    <table class="table w-auto mx-auto" id="route-list">
      <thead>
      <tr>
        <th>Route Name</th>
        <th>Miles</th>
        <th>Dates Run</th>
      </tr>
      </thead>
      <tbody>
      {% assign sorted_routes = site.data.routes | sort: 'distance_mi' %}
      {% for route in sorted_routes %}
        <tr>
          <td>
            <a href="{{ route.id }}/" title="{{ route.id }}">
              <span class="name">{{ route.name }}</span>
            </a>
            {% if route.gpx %}
            &nbsp; <a href="{{ route.gpx }}" class="gpx-link" title="Download GPX" data-goatcounter-click="download-{{ route.id }}">&#8986;</a>
            {% endif %}
          </td>
          {% comment %}

            The following is a ridiculous hack to be able to format route
            distances as %.2f

            See: https://stackoverflow.com/questions/37862167/trailing-zeros-in-jekyll-liquid

          {% endcomment %}
          {% assign dist_split = route.distance_mi | round: 1 | split: "." %}
          {% assign dist_integral = dist_split[0] %}
          {% assign dist_fractional = dist_split[1] | append: "0" | truncate: 1, "" %}
          <td><span class="dist" title="{{ route.distance_mi | times: 1.609 | round: 1}}km">{{ dist_integral }}.{{ dist_fractional }}</span></td>
          <td>
            <ul class="matched-runs comma-sep">
            {% for event in site.data.schedule %}
              {% assign matched_runs = event.plan | where: 'route_id', route.id %}
              {% for run in matched_runs %}
                <li class="date">{{ event.date }}</li>
              {% endfor %}
            {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="module">
      import {Tabulator, EditModule, FormatModule, InteractionModule, MutatorModule, ResizeColumnsModule, ResizeTableModule, SortModule, SelectRowModule, FilterModule} from 'tabulator-tables';

      Tabulator.registerModule([EditModule, FormatModule, InteractionModule, MutatorModule, ResizeColumnsModule, ResizeTableModule, SortModule, SelectRowModule, FilterModule]);

      let searched = false
      document.addEventListener("DOMContentLoaded", () => {
        let table = new Tabulator("#routes table", {
            columns:
                [{title: "Route Name", field: "name", formatter: (cell, formatterParams, onRendered) => {
                    let value = cell.getValue();
                    let route = cell.getRow().getData();
                    let link = document.createElement("a");
                    link.href = route.id + "/";
                    link.title = route.id;
                    link.innerHTML = value;
                    return link;}},
                 {title: "Miles", field: "distance_mi", sorter: "number"},
                    {title: "↑ ft", field: "ascent_m", sorter: "number", formatter: cell => {
                            return Math.round(cell.getValue() * 3.28084);
                        }},
                    {title: "↓ ft", field: "descent_m", sorter: "number", formatter: cell => {
                        return Math.round(cell.getValue() * 3.28084);
                    }},
                 {title: "Start", field: "start"},
                  {title: "End", field: "end"},
                    {
                        title: "Times Run",
                        field: "times_run",
                        mutator: function (value, data) {
                            return Array.isArray(data.dates_run) ? data.dates_run.length : 0;
                        }
                    },
                 {title: "Last Used", field: "dates_run",
                     sorter: function(a, b) {
                         // Custom sorter for array date items
                         if (Array.isArray(a) && a.length > 0 && Array.isArray(b) && b.length > 0) {
                             let lastA = a[a.length - 1];
                             let lastB = b[b.length - 1];
                             return lastA > lastB ? 1 : (lastA < lastB ? -1 : 0);
                         } else if (Array.isArray(a) && a.length > 0) {
                             return 1;
                         } else if (Array.isArray(b) && b.length > 0) {
                             return -1;
                         } else {
                             return 0;
                         }
                     },
                     formatter: function (cell, formatterParams) {
                         let items = cell.getValue();
                         return Array.isArray(items) && items.length > 0 ? items[items.length - 1] : "";
                     }}],

            initialSort: [{column: "distance_mi", dir: "asc"}, {column: "start", dir: "desc"}],
            initialFilter: [{field: "deprecated", type: "!=", value: true}],
            class: "table table-sm",
            selectableRows: false,
            rowFormatter: function(row) {
                let data = row.getData();
                if (data.deprecated) {
                    row.getElement().classList.add("deprecated");
                }
            },
            layout: "fitDataTable",
            data: {{ site.data.routes | jsonify}}});
        table.element.classList.add("table-sm");
        table.on("columnsLoaded", () =>
        {
          table.element.querySelectorAll("input").forEach((input) => {
            input.classList.add("form-control");
          });

          const sortOrder = JSON.parse(sessionStorage.getItem('tabulator-sort'));
          if (sortOrder) {
              table.setSort(sortOrder);
          }
          if (window.location.search) {
            const url = new URL(window.location);
            const search = url.searchParams.get("q");
            if (search) {
               // Queue up event to set the search value
              const searchField = document.getElementById("filter-search")
              searchField.value = search;
              const event = new Event('input');
              searchField.dispatchEvent(event);
            }
            return;
          }

          const filters = JSON.parse(sessionStorage.getItem('tabulator-filters'));
          if (filters) {
              table.setFilter(filters);
          }
        });
        table.on('dataSorted', function(sorters) {
            //sessionStorage.setItem('tabulator-sort', JSON.stringify(sorters));
        });
        table.on('dataFiltered', function(filters) {
            //sessionStorage.setItem('tabulator-filters', JSON.stringify(filters));
        });

        // Filters and search
        document.getElementById("filter-controls").classList.remove("d-none");
        let previousTimeout = null;
        document.getElementById("filter-search").addEventListener("input", (event) => {
            if (previousTimeout) {
              clearTimeout(previousTimeout);
            }

          // Debounce
          previousTimeout = setTimeout(() => {
              if (window.goatcounter && !searched) {
                  window.goatcounter.count({path: "searched", event: true});
                    searched = true;
              }
              const query = event.target.value;
              const url = new URL(window.location);

              // Update query parameter
              url.searchParams.set("q", query);
              window.history.replaceState({}, "", url);

              const startMatch = query.match(/start:([^ ]+)/);
              const endMatch = query.match(/end:([^ ]+)/);
              const distanceMatches = [...query.matchAll(/distance:(<=|>=|<|>|)?([0-9.]+)/g)];
              const neighborhoodMatches = [...query.matchAll(/neighborhood:(['"]([^'"]+)['"]|[^ ]+)/g)];
              const nameQuery = query
                  .replace(/start:[^ ]+/, "")
                  .replace(/end:[^ ]+/, "")
                  .replace(/distance:(<=|>=|<|>|)?[0-9.]+/, "")
                  .replace(/neighborhood:(['"]([^'"]+)['"]|[^ ]+)/g, "")
                  .trim();

              // Remove only relevant filters
              table.getFilters().forEach((filter) => {
                console.log(filter);
                  if (
                      ["start", "end", "distance_mi", "name", "neighborhoods"].includes(filter.field)
                  ) {
                      table.removeFilter(filter.field, filter.type, filter.value);
                  }
              });

              if (startMatch) {
                  table.addFilter("start", "starts", startMatch[1]);
              }

              if (endMatch) {
                  table.addFilter("end", "starts", endMatch[1]);
              }

              if (neighborhoodMatches.length > 0) {
                table.addFilter("neighborhoods", "keywords", neighborhoodMatches.map((match) => match[2] || match[1]).join(","), {matchAll: true, separator: ","});
              }


              // FIXME: Only one actually works
              distanceMatches.forEach((match) => {
                  const operator = match[1] || "="; // Default operator is "=" if not provided
                  const value = Number.parseFloat(match[2]);
                  table.addFilter("distance_mi", operator, value);
              });

              if (nameQuery) {
                  table.addFilter("name", "like", nameQuery);
              }
          }, 150);

        });
        document.getElementById("filter-deprecated").addEventListener("change", (event) => {
            if (event.target.checked) {
                table.removeFilter("deprecated", "!=", true);
            } else {
                table.addFilter("deprecated", "!=", true);
            }
            table.redraw();
        });
    });

  </script>
</div>
