<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  {% capture title %}{{ page.title | default: site.title | escape }}{% endcapture %}
  {% capture type %}{% if page.type == "OB" %}out-and-back{% elsif page.type == "Loop" %}loop{% elsif page.type == "P2P" %}point-to-point{% endif %}{% endcapture %}
  {% if page.distance_mi  %}
    {% if page.start_neighborhood == page.end_neighborhood %}
      {% if page.start_neighborhood == 'non-Seattle' %}
        {% capture description %}{{ page.distance_mi }} mile {{type}} running/walking route with {{page.ascent_m}}m of elevation gain{% endcapture %}
      {% elsif page.type == "OB" or page.type == "P2P" %}
        {% capture description %}{{ page.distance_mi }} mile {{type}} running/walking route visiting {% for neighborhood in page.neighborhoods limit:3 %}{{neighborhood}}{% unless forloop.last%}, {%endunless%}{%endfor%}.{% endcapture %}
      {% else %}
        {% capture description %}{{ page.distance_mi }} mile {{type}} running/walking route near {{page.start_neighborhood }}{% endcapture %}
      {% endif %}
    {% else %}
      {% capture description %}{{ page.distance_mi }} mile {{type}} running/walking route from {{page.start_neighborhood}} to {{page.end_neighborhood}} via {% for neighborhood in page.neighborhoods limit:3 %}{{neighborhood}}{% unless forloop.last%}, {%endunless%}{%endfor%}.{% endcapture %}
    {% endif %}
  {% else %}
    {% capture description %}{{ page.excerpt | default: page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}{% endcapture %}
  {% endif %}
  {% capture url %}{{ page.url | absolute_url }}{% endcapture %}
  <title>{{ title }}</title>
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' type='text/css' href="{{ '/css/style.css' | relative_url }}" />

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="WrPqIrZlSl3HcFgqvyw3hRpeYOgaxXfyjEXTtctEJhY" />

  {% if page.distance_mi %}
  {% assign ascent_ft = page.ascent_m | times: 3.28084 %}
  {% assign descent_ft = page.descent_m | times: 3.28084 %}
  <meta name="twitter:label1" value="Distance" />
  <meta name="twitter:data1" value="{{page.distance_mi | round: 1 }}mi ({{ page.distance_mi | times: 1.609 | round: 1}}km)" />
  <meta name="twitter:label2" value="Elevation Gain" />
  <meta name="twitter:data2" value="↑{{ascent_ft | round}}ft ↓{{descent_ft | round}}ft" />
  <meta property="og:image" content="{{ '/img/routes/' | append: page.id | append: '.jpg' | absolute_url }}" />
  {% else %}
  {% endif %}

  <script type="importmap">
    {
      "imports": {
        "d3": "https://cdn.jsdelivr.net/npm/d3@7.9.0/+esm",
        "maplibre-gl": "https://cdn.jsdelivr.net/npm/maplibre-gl@5.5.0/dist/maplibre-gl.min.js",
        "masonry-layout": "https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js",
        "noUiSlider": "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.mjs",
        "photoswipe": "https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.esm.min.js",
        "photoswipe-lightbox": "https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe-lightbox.esm.min.js",
        "pmtiles": "https://cdn.jsdelivr.net/npm/pmtiles@4.0.1/+esm",
        "tabulator-tables": "https://cdnjs.cloudflare.com/ajax/libs/tabulator-tables/6.3.1/js/tabulator_esm.min.js",
        "@turf": "https://cdn.jsdelivr.net/npm/@turf/turf@7.1.0/+esm",
        "@popperjs/core": "https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/esm/popper.min.js",
        "bootstrap": "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.esm.min.js"
      }
    }
  </script>
  {% include analytics.html %}
</head>
<body>

<header class="container constrain-width">
  <a href="/" class="text-body d-flex flex-wrap align-content-end justify-content-center justify-content-sm-between">
    <h2 class="align-self-center">Race Condition Running</h2>
    <img src="{{ '/img/rcc-logo.png' | relative_url }}" width='150' alt='RCC Logo'>
  </a>
</header>

<nav class="navbar navbar-expand-sm mb-4 container constrain-width" role="navigation">
  <div class="container">
    <ul class="navbar-nav justify-content-between">
      <li class="nav-item"><a href="{% link index.html %}"{% if page.url == "/" %} class="active"{% endif %}>Schedule</a></li>
      <li class="nav-item"><a href="{% link pages/routes.html %}"{% if page.url == "/routes/" %} class="active"{% endif %}>Routes</a></li>
      <li class="nav-item"><a href="{% link pages/brunch-reviews.html %}"{% if page.url == "/brunch-reviews/" %} class="active"{% endif %}>Brunch Reviews</a></li>
      <li class="nav-item dropdown">
        <a href="{% link pages/events.html %}" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
        <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
          <li>
            <a class="dropdown-item text-start" href="{% link pages/light-rail-relay-25.html %}">Light Rail Relay '25</a>
            <ul class="list-inline d-flex gap-2 dropdown-item">
              <li><a class="link-secondary" href="{% link pages/light-rail-relay-24.html %}">24</a></li>
              <li><a class="link-secondary" href="{% link pages/light-rail-relay-23.html %}">23</a></li>
              <li><a class="link-secondary" href="{% link pages/light-rail-relay-22.html %}">22</a></li>
              <li><a class="link-secondary" href="{% link pages/light-rail-relay-21.html %}">21</a></li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item text-start" href="{% link pages/drumheller-marathon-25.html %}">Drumheller Marathon '25</a>
            <ul class="list-inline d-flex gap-2 dropdown-item">
              <li><a class="link-secondary" href="{% link pages/drumheller-marathon-24.html %}">24</a></li>
              <li><a class="link-secondary" href="{% link pages/drumheller-half-23.html %}">23</a></li>
              <li><a class="link-secondary" href="{% link pages/drumheller-half-22.html %}">22</a></li>
            </ul>
          </li>

          <li><a class="dropdown-item text-start {% if page.url == "{{ site.baseurl }}/quarantine-relay/" %} active{% endif %}" href="{{ site.baseurl }}/quarantine-relay/">Quarantine Relay</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="{% link pages/lore.html %}"{% if page.url == "/lore/" %} class="active"{% endif %}>Lore</a></li>
        <li class="nav-item"><a href="{% link pages/about.md %}"{% if page.url == "/about/" %} class="active"{% endif %}>About</a></li>
    </ul>
  </div>
</nav>

{{ content }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // Schedule table popovers on homepage and lore page
    document.addEventListener("DOMContentLoaded", function() {
        const popover = document.querySelectorAll("[popovertarget]");

        popover.forEach((e) => {
            const target = document.querySelector("#" + e.getAttribute("popovertarget"));
            e.addEventListener("mouseover",()=>{
                target.showPopover();
            });

            e.addEventListener("mouseout",()=>{
                target.hidePopover();
            });
        });
    })
</script>
</body>
</html>
