<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Race Condition Running</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha256-wLz3iY/cO4e6vKZ4zRmo4+9XDpMcgKOvv/zEU3OMlRo=" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='/css/style.css'>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="WrPqIrZlSl3HcFgqvyw3hRpeYOgaxXfyjEXTtctEJhY" />
</head>
<body>

<div class="container">
<div style='float: right;'>
  <img src='/img/rcc-logo.png' width='150' alt='RCC Logo'>
</div>

<h1>Race Condition Running</h1>
</div>

<nav class="navbar navbar-expand-sm mb-4" role="navigation">
    <ul class="navbar-nav justify-content-between">
    <li class="nav-item"><a href="/"{% if page.url == "/" %} class="active"{% endif %}>Schedule</a></li>
    <li class="nav-item"><a href="/routes/"{% if page.url == "/routes/" %} class="active"{% endif %}>Routes</a></li>
    <li class="nav-item"><a href="/brunch-reviews/"{% if page.url == "/brunch-reviews/" %} class="active"{% endif %}>Brunch Reviews</a></li>
    <li class="nav-item"><a href="/lore/"{% if page.url == "/lore/" %} class="active"{% endif %}>Lore</a></li>
    <li class="nav-item dropdown dropdown-center"><a href="#" id="eventsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
      <ul class="dropdown-menu" aria-labelledby="eventsDropdown">
          <li><a class="dropdown-item" href="/drumheller-half-23/">Drumheller Half '23</a></li>
          <li><a class="dropdown-item" href="/light-rail-relay-22/">Light Rail Relay '22</a></li>
          <li><a class="dropdown-item" href="/drumheller-half-22/">Drumheller Half '22</a></li>
          <li><a class="dropdown-item " href="/light-rail-relay-21/">Light Rail Relay '21</a></li>
          <li><a class="dropdown-item {% if page.url == "/quarantine-relay/" %} active{% endif %}" href="/quarantine-relay/">Quarantine Relay</a></li>
      </ul>
    </li>
    </ul>
</nav>

<div class="container">
{{ content }}
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84537680-1', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-lSABj6XYH05NydBq+1dvkMu6uiCc/MbLYOFGRkf3iQs=" crossorigin="anonymous"></script>
</body>
</html>
