<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Race Condition Running</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
  <script src="/js/jquery.min.js"></script>

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>

<div style='float: right;'>
  <img src='/img/rcc-logo.png' width='150' alt='RCC Logo'>
</div>

<h1 style='padding-top: 20px;'>
  Race Condition Running
  <a target="_blank"
     href='https://www.facebook.com/groups/raceconditionrunning/'>
    <img src='/img/facebook-icon.png' height='30px'>
  </a>
</h1>
<div style='clear: both;'></div>

<hr>

<div id="topnav">
  <a href="/"{% if page.url == "/" %} class="active"{% endif %}>Schedule</a>
  <a href="/routes/"{% if page.url == "/routes/" %} class="active"{% endif %}>Routes</a>
  <a href="/brunch-reviews/"{% if page.url == "/brunch-reviews/" %} class="active"{% endif %}>Brunch Reviews</a>
</div>

<hr>

{{ content }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84537680-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
